<%
  if Settings.alchemy_cms.qiniu
    image = @picture.send_image_url(@size)
  else
    image =  alchemy.zoom_picture_path(
      id: @picture.id,
      name: @picture.urlname,
      format: 'png',
      sh: @picture.security_token
    )
  end
%>


<div id="zoomed_picture_background">
  <%= image_tag(image,
                class: "zoomed_picture"
               ) %>
</div>
